// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

body {
  font-family: Calibre, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  color: #2b2b2b;
}

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
// h1 {
//   font-size: 57px;
//   line-height: 57px;
//   font-weight: 600;
//   text-transform: uppercase;
// }

// h2 {
//   font-size: 30px;
//   line-height: 36px;
//   font-weight: 600;
// }

// h4 {
//   font-size: 26px;
//   line-height: 21px;
//   font-weight: 600;
// }

// h5 {
//   font-size: 21px;
//   line-height: 21px;
//   font-weight: 500;
//   text-transform: uppercase;
// }

// h6 {
//   font-size: 14px;
//   line-height: 14px;
//   font-weight: 600;
//   text-transform: uppercase;
// }

// .lead {
//   font-size: 23px;
//   line-height: 27px;
//   font-weight: 300;
// }

// .card-subtitle{
//   padding: 5px 0;
// }

// .text-color-2 {
//   color: #656868;
// }
// .text-color-3 {
//   color: #fc9424;
// }
// .text-color-4 {
//   color: #ffd105;
// }
// .btn-primary {
//   background-color: #ffd105;
//   color: #2b2b2b;
//   border: solid 2px #ffd105;
//   text-transform: uppercase;
//   border-radius: 24px;
//   font-weight: 600;
//   font-size: 15px;
//   padding: 8px 50px;
// }

// .btn-primary:hover {
//   border: solid 2px #ffd105;
//   background: none;
// }

// .btn-link {
//   color: #ffd105;
//   text-decoration: none;
// }
// .btn-link:hover {
//   color: #2b2b2b;
//   text-decoration: none;
// }

// .heading-underline {
//   padding-bottom: 10px;
//   margin-bottom: 10px;
//   &:after {
//     content: "";
//     display: block;
//     width: 100px;
//     height: 2px;
//     background: #ffd105;
//     margin-top: 20px;
//   }
//   &.text-center {
//     &:after {
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }

// /* Section Heading Starts*/
// .section-heading {
//   h6 {
//     margin-bottom: 15px;
//   }
//   h1 {
//     padding-bottom: 10px;
//     margin-bottom: 10px;
//     &:after {
//       content: "";
//       display: block;
//       width: 160px;
//       height: 4px;
//       background: #ffd105;
//       margin-top: 20px;
//     }
//   }
//   .lead {
//     margin-bottom: 10px;
//   }
//   &.section-heading-center {
//     h1:after {
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }
// /* Section Heading Ends*/

// /* Section Card Type 1 Starts*/
// .card-type-1 {
//   border: none;
//   box-shadow: 0 15px 30px 0 rgba(101, 105, 167, 0.18);
//   &:hover {
//     box-shadow: 0 0 30px 0 rgba(101, 105, 167, 0.4);
//   }
//   .card-body {
//     padding: 30px;
//     .card-title {
//       margin-bottom: 20px;
//       i {
//         color: #ffd105;
//         padding-right: 25px;
//         display: inline-block;
//       }
//     }
//     .card-text {
//       margin-bottom: 15px;
//     }
//     .card-link {
//     }
//   }
// }
// /* Section Card Type 1 Ends*/

// /* Section Tab Type 1 Starts*/
// .nav-tabs-1 {
//   .nav-item {
//     .nav-link {
//       text-transform: uppercase;
//       &.active {
//         border: none;
//         border-bottom: solid 3px #7862a5;
//       }
//     }
//   }
// }
// /* Section Tab Type 1 Ends*/

// /* Section Carousel 1 Starts*/
// .carousel-1 {
//   .carousel-caption {
//     text-align: left;
//     left: 50px;
//     top: 50px;
//   }
// }
// /* Section Carousel 1 Ends*/



//   case studies 

h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}
h1 {
  font-weight: 600;
  font-size: 57px;
  line-height: 57px;
}


.color-1{
  color: #ffd105;
}
.color-2{
  color: #989898;
}
.text-color-1{
  color: #fc9424;
}
.text-color-2{
  color: #ffd105;
}
.text-color-3{
  color: #66c7d1;
}
.text-color-4{
  color: #7862a5;
}
.text-color-5{
  color: #4aba6d;
}


.btn-link{
  color: #ffd105;
  text-decoration: none;
}
.btn-link:hover{
  color: #ffd105;
  text-decoration: none;
}


.btn-primary{
  background-color: #ffd105;
  border-radius: 30px;
  border: none;
}

.heading-underline{
  padding-bottom: 10px;
  margin-bottom: 10px;
  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #ffd105;
    margin-top: 20px;
  }
  &.text-center {
    &:after {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// /* Section Heading Starts*/

.section-heading{
  h6{
    margin-bottom: 15px;
  }
  h1{
    padding-bottom: 10px;
    margin-bottom: 10px;
    &:after{
      content: '';
      display: block;
      height: 4px;
      width: 160px;
      background-color: #ffd105;
      margin-top: 20px;
    }
  }
      
    &.section-heading-center{
      h1:after{
      margin-left: auto;
      margin-right: auto;
      }
    }
  }
  p{
    a{
      color: #ffd105;
      font-weight: 400;
      font-size: 19px;
      line-height: 27px;
    }
    &.content{
      width: 657px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
}

// /* Section Heading Ends*/


// /* Section card Starts*/

.card-type-1{
    border: none;
    box-shadow: 0 15px 30px 0 rgba(101, 105, 167, 0.18);
    &:hover{
    box-shadow: 0 0 30px 0 rgba(101, 105, 167, 0.4);
    }
    .card-body{
      padding: 30px;
      .card-title{
        text-transform: uppercase;
        font-weight: 500;
        color: #2b2b2b;
        font-size: 21px;
        line-height: 21px;
        margin-bottom: 20px;
        i{
          padding-right: 10px;
          color: #ffd105;
        }
      }
      .card-subtitle{
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .card-text{
        color: #656868;
        font-size: 21px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 15px;
      }
      .card-link{
        // font-size: 16px;
        // font-weight: 600;
        // line-height: 21px;
        // color: #ffd105;
        // text-decoration: none;
        // &:hover{
        //   color: #2b2b2b;
        }
      }
    .card-footer:last-child{
      margin: 0 30px;
    }
      
}


// /* Section card Ends*/


// <!-- Nav Section Starts -->

.nav-tabs-1{
  .nav-item{
    .nav-link{
      text-transform: uppercase;
      &.active{
        border: none;
        border-bottom: solid 3px #7862a5;

      }
    }
  }
}

// <!-- Nav Section Ends -->

// <!-- Carousel-1 Section Starts -->

.carousel-1 {
  .carousel-caption {
    text-align: left;
    left: 50px;
    top: 50px;
  }
}

// <!-- Carousel-1 Section Ends -->


// <!-- form-style-1 Section Starts -->

.form-style-1{
  .form-label, .form-check-label{
    color: #7c8080;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  }
  .form-control{
    border: none;
    border-bottom: solid 2px #2b2b2b;
    border-radius: 0;
    background: none;
    &:focus{
      border-bottom: solid 2px #ffd105;
      box-shadow: none;
    }
  }
}

// <!-- form-style-1 Section Ends -->

// <!-- Footer-top Form-1 Section Starts -->

.form-wrapper-1{
  background-color: #3d3d3d;
  padding: 30px 20px;
}

// <!-- Footer-top Form-1 Section Ends -->

