// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

body {
  font-family: Calibre, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  color: #2b2b2b;
}

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
// h1 {
//   font-size: 57px;
//   line-height: 57px;
//   font-weight: 600;
//   text-transform: uppercase;
// }

// h2 {
//   font-size: 30px;
//   line-height: 36px;
//   font-weight: 600;
// }

// h4 {
//   font-size: 26px;
//   line-height: 21px;
//   font-weight: 600;
// }

// h5 {
//   font-size: 21px;
//   line-height: 21px;
//   font-weight: 500;
//   text-transform: uppercase;
// }

// h6 {
//   font-size: 14px;
//   line-height: 14px;
//   font-weight: 600;
//   text-transform: uppercase;
// }

// .lead {
//   font-size: 23px;
//   line-height: 27px;
//   font-weight: 300;
// }

// .card-subtitle{
//   padding: 5px 0;
// }

// .text-color-2 {
//   color: #656868;
// }
// .text-color-3 {
//   color: #fc9424;
// }
// .text-color-4 {
//   color: #ffd105;
// }
// .btn-primary {
//   background-color: #ffd105;
//   color: #2b2b2b;
//   border: solid 2px #ffd105;
//   text-transform: uppercase;
//   border-radius: 24px;
//   font-weight: 600;
//   font-size: 15px;
//   padding: 8px 50px;
// }

// .btn-primary:hover {
//   border: solid 2px #ffd105;
//   background: none;
// }

// .btn-link {
//   color: #ffd105;
//   text-decoration: none;
// }
// .btn-link:hover {
//   color: #2b2b2b;
//   text-decoration: none;
// }

// .heading-underline {
//   padding-bottom: 10px;
//   margin-bottom: 10px;
//   &:after {
//     content: "";
//     display: block;
//     width: 100px;
//     height: 2px;
//     background: #ffd105;
//     margin-top: 20px;
//   }
//   &.text-center {
//     &:after {
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }

// /* Section Heading Starts*/
// .section-heading {
//   h6 {
//     margin-bottom: 15px;
//   }
//   h1 {
//     padding-bottom: 10px;
//     margin-bottom: 10px;
//     &:after {
//       content: "";
//       display: block;
//       width: 160px;
//       height: 4px;
//       background: #ffd105;
//       margin-top: 20px;
//     }
//   }
//   .lead {
//     margin-bottom: 10px;
//   }
//   &.section-heading-center {
//     h1:after {
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }
// /* Section Heading Ends*/

// /* Section Card Type 1 Starts*/
// .card-type-1 {
//   border: none;
//   box-shadow: 0 15px 30px 0 rgba(101, 105, 167, 0.18);
//   &:hover {
//     box-shadow: 0 0 30px 0 rgba(101, 105, 167, 0.4);
//   }
//   .card-body {
//     padding: 30px;
//     .card-title {
//       margin-bottom: 20px;
//       i {
//         color: #ffd105;
//         padding-right: 25px;
//         display: inline-block;
//       }
//     }
//     .card-text {
//       margin-bottom: 15px;
//     }
//     .card-link {
//     }
//   }
// }
// /* Section Card Type 1 Ends*/

// /* Section Tab Type 1 Starts*/
// .nav-tabs-1 {
//   .nav-item {
//     .nav-link {
//       text-transform: uppercase;
//       &.active {
//         border: none;
//         border-bottom: solid 3px #7862a5;
//       }
//     }
//   }
// }
// /* Section Tab Type 1 Ends*/

// /* Section Carousel 1 Starts*/
// .carousel-1 {
//   .carousel-caption {
//     text-align: left;
//     left: 50px;
//     top: 50px;
//   }
// }
// /* Section Carousel 1 Ends*/



//   case studies 

h6 {
  color: #ffd105;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}
h1 {
  font-weight: 600;
  font-size: 57px;
  line-height: 57px;
}

.btn-link{
  color: #ffd105;
  text-decoration: none;
}
.btn-link:hover{
  color: #ffd105;
  text-decoration: underline;
}


.btn-primary{
  background-color: #ffd105;
  border-radius: 30px;
  border: none;
}

// /* Section Heading Starts*/

.section-heading{
  h6{
    margin-bottom: 15px;
  }
  h1{
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:after{
      content: '';
      display: block;
      height: 4px;
      width: 160px;
      background-color: #ffd105;
      margin-top: 20px;
    }
  }
      
    &.section-heading-center{
      h1:after{
      margin-left: auto;
      margin-right: auto;
      }
    }
  }
  p{
    a{
      color: #ffd105;
      font-weight: 400;
      font-size: 19px;
      line-height: 27px;
    }
    &.content{
      width: 657px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
}

// /* Section Heading Ends*/


// /* Section card Starts*/

// .card{
//     border: none;
//     box-shadow: 0 15px 30px 0 rgb(101, 105, 167, 0.18);
//     &:hover{
//     box-shadow: 0 0 30px 0 rgb(101, 105, 167, 0.4);
//     }
  
//   .card-body{
//      padding: 30px;
    
//     .card-title{
//       font-weight: 500;
//       color: #2b2b2b;
//       font-size: 21px;
//       line-height: 21px;
//     }

//     .card-text{
//       color: #656868;
//       font-size: 21px;
//       line-height: 24px;
//       font-weight: 400;
//     }
//     .card-link{
//       font-size: 16px;
//       font-weight: 600;
//       line-height: 21px;
//       color: #ffd105;
//       &:hover{
//         color: #2b2b2b;
//       }
//     }
//   }
// }


.card{
  &.card-type-1{
    border: none;
  }
}

// /* Section card Ends*/


